@keyframes aside-superman {
    from {
        transform: translateY(400px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes aside-title {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}