---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <h1 class="text-white text-center">About the SpaceX</h1>
  
  <p class="text-white text-center"             >The SpaceX company is a private American company founded in 2002
  </p>
</Layout>
