.container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(288px, 1fr)); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "item1 item2"
        "item3 item3";
    gap: 8px;
    /* columns: 288px auto; */
}

.container-item {
    border: 5px solid palegoldenrod;
}

.container-item--1 {
    grid-area: item1;
}

.container-item--2 {
    grid-area: item2;
}

.container-item--3 {
    grid-area: item3;

    overflow: hidden;

    opacity: 50%;
}

.container-item--3:hover {
    opacity: 100%;
}