:root {
    /* FONT SIZES */
    --sm: 1.2rem;
    --md: 1.8rem;
    --lg: 2rem;
    
    /* COLOR */
    --primary-color: #FFD24C;
    --secondary-color: #FFE69A;
    --light-blue: #92B4EC;
    --very-light-blue: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: grid;
    grid-template-columns: 2fr 3fr;

    padding: 12px;
}

.menu-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-info-header__title {
    margin-bottom: 12px;

    font-size: var(--lg);
    font-weight: bold;

    color: var(--primary-color);
}

.menu-info-body__subtitle {
    text-align: center;

    margin-bottom: 24px;

    font-size: var(--sm);
    font-weight: 500;
}

.menu-info-body__button {
    position: relative;
    left: calc(50% - 50px);

    padding: 4px 16px;

    font-size: var(--sm);

    color: sienna;
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.menu-logo {
    display: flex;
    align-items: center;
}

.menu-logo__img {
    width: 100%;
}

/* MAIN SECTION */
main {
    padding: 0 12px;
}

.main-middle {
    text-align: center;

    margin: 32px;

    font-size: var(--md);

    color: var(--light-blue);
}

.dishes-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 190px);
    grid-template-areas: 
    "video video"
    "video video"
    "dish1 dish2"
    "dish3 dish4";
    
    gap: 8px;
}

.dishes-collage__img {
    width: 100%;
    height: 100%;
}

.dishes-collage__img--1 {
    grid-area: video;
}
.dishes-collage__img--2 {
    grid-area: dish1;
}
.dishes-collage__img--3 {
    grid-area: dish2;
}
.dishes-collage__img--4 {
    grid-area: dish3;
}
.dishes-collage__img--5 {
    grid-area: dish4;
}

.home-menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.home-menu__img {
    width: 100%;
}